# CS525 Project -- Efficient Newspaper Distribution
*Changyu Gao, Xiaosheng Liu*

Professor: Michael Ferris

# Introduction

UW-Madison's campus press needs to distribute university newspapers (e.g. the Daily Cardinal) to major locations on campus. The circulation office can be built at university libraries for printing and delivering. Due to a limited budget, the press decides to find an economical way to do so.

Specifically, we need to decide locations of circulation offices and where to deliver for each of the office. We also need to devise appropriate delivery routes to minimize the total cost.

To make the scenario more realistic, we will consider different modes of transportation. In our example, bikes and cars are available for delivery, of which the cost and capacity are different. We allow for multiple delivery routes of a single facility.

## Overview of the approach

We formulate the problem as a two-stage optimization model.
In the first stage, we consider the facility location problem to select libraries and assign them buildings to deliver to.
Once we choose the library locations, we group the buildings into clusters according to the assignment, and solve the vehicle routing subproblem within each group.

## Data Preparation

In [1]:
import pandas as pd

In [2]:
from urllib.parse import urljoin
from bs4 import BeautifulSoup
import requests
import re

Here we gather the geolocation information (longitude and latitude) by following the link in the list of [buildings](https://map.wisc.edu/buildings). The geolocation information is specified in a json object at the bottom of page source.
We use the BeautifulSoup package and regular expressions to extract information from html source.

In [3]:
baseurl = "https://map.wisc.edu/"
pageurl = urljoin(baseurl, 'buildings')
r = requests.get(pageurl)

In [4]:
# This is the regular expression used to extract longitude and latitude
LATLNG_PATTERN = re.compile(r'"latlng":\[(.*?),(.*?)\]')

In [5]:
soup = BeautifulSoup(r.text)

In [6]:
def parse_latlon(location):
    text = soup.find(string=location)
    if text is None:
        print(location)
        return
    tag = text.find_parent('a')
    link = urljoin(baseurl, tag['href'])
    r = requests.get(link)
    if r.status_code != requests.codes.ok:
        r.raise_for_status()
    result = re.search(LATLNG_PATTERN, r.text)
    lat, lng = result.groups()
    return float(lat), float(lng)

In [7]:
libs = pd.read_csv("library.csv")

In [8]:
schools = pd.read_csv("schools.csv")
schools.head()

         name  #student                      location
0       Human        93           Nancy Nicholas Hall
1    Pharmacy        88                Rennebohm Hall
2  Veterinary        51           Veterinary Medicine
3    Business       220                 Grainger Hall
4  Biomedical       105  Engineering Centers Building

In [9]:
libs['location'].apply(parse_latlon).head()

0    (43.0738966821534, -89.3994076281431)
1    (43.0766889297917, -89.4013357019814)
2    (43.0775311484074, -89.4302557676443)
3    (43.0755766620364, -89.4067964871148)
4    (43.0753541404222, -89.3979696961632)
Name: location, dtype: object

In [10]:
schools['latlon'] = schools['location'].apply(parse_latlon)
libs['latlon'] = libs['location'].apply(parse_latlon)

Now that we have the latitude and longitude of locations, we will transform them into local coordinates, specifically local east, north, up (**ENU**) coordinates. See [Local tangent plane coordinates](https://en.wikipedia.org/wiki/Local_tangent_plane_coordinates) for more information.
Here we take the Wisconsin State Capitol (43.0747° N, 89.3840° W) as the reference position (origin) and use **WGS84** as the reference ellipsoid.

In [11]:
import pymap3d as pm

In [12]:
lat0, lon0 = 43.074706, -89.384172

In [13]:
def latlon2local(latlon):
    lat, lon = latlon
    e1, n1, u1 = pm.geodetic2enu(lat, lon, 0, lat0, lon0, 0, deg=True)
    return e1, n1

In [14]:
schools_loc = pd.DataFrame(schools['latlon'].apply(latlon2local).tolist(), index=schools['name'], columns=['x', 'y'])
libs_loc = pd.DataFrame(libs['latlon'].apply(latlon2local).tolist(), index=libs['name'], columns=['x', 'y'])

In [15]:
schools_loc.head()

                      x           y
name
Human      -2003.274330  112.489255
Pharmacy   -3583.910945  420.738253
Veterinary -2937.908800   48.663060
Business   -1416.052827 -222.120967
Biomedical -2380.769364 -220.359031

In [16]:
libs_loc.head()

                    x           y
name
Art      -1240.838026  -89.797835
College  -1397.803025  220.435007
Ebing    -3752.986488  314.888428
Learning -1842.559849   96.973952
Memorial -1123.701644   72.097045

In [17]:
libs_loc.to_csv("lib_loc.csv", float_format='%.2f')
schools_loc.to_csv("school_loc.csv", float_format='%.2f')

In [18]:
schools[['name', '#student']].head()

         name  #student
0       Human        93
1    Pharmacy        88
2  Veterinary        51
3    Business       220
4  Biomedical       105

In [19]:
', '.join(schools['name'])

'Human, Pharmacy, Veterinary, Business, Biomedical, Cartography, Chemistry, Civil, Computer, Curriculum, Economics, Psychology, English, Environment, History, Material, Mathematics, Music, Nursing, Physics, Statistics, Animal'

We use the enrollment data [(source)](https://d26qj0sufsy9x2.cloudfront.net/wp-content/uploads/sites/36/2019/10/report-enrollment-2019fall_Final.pdf) from the registrar office to decide demand. Specifically, we assume that the demand for each department building equals the number of students who are affiliated to the corresponding deparment.

## Optimization models

### Facility location problem
In the [Facility location problem](https://en.wikipedia.org/wiki/Facility_location_problem), we are concerned with the optimal placement of facilities to minimize costs. We will choose from a list of potential locations and assign customers to them. The goal is to minimize total weighted distances between facilities and customers which account for transportation costs, plus the sum of the operational cost of facilities.

The following is a basic formulation:

$$
\min \sum_{i=1}^{n} \sum_{j=1}^{m} c_{i j} y_{i j}+\sum_{i=1}^{n} f_{i} x_{i}
$$
$$
\text { s.t. } \quad \sum_{i=1}^{n} y_{i j}=1 \text { for all } j=1, \ldots, m
$$
$$
\sum_{j=1}^{m} d_{j} y_{i j} \leqslant u_{i} x_{i} \text { for all } i=1 \ldots, n
$$
$$
y_{i j} \in\{0,1\} \text { for all } i=1, \ldots, n \text { and } j=1, \ldots, m
$$
$$
x_{i} \in\{0,1\} \text { for all } i=1, \dots, n
$$

where $x_i = 1$ if facility $i$ is open and $x_i=0$ otherwise, $y_{ij} = 1$ if the demand $d_j$ is fulfilled by facility $i$ and $u_i$ denotes the operational cost of facility $i$.

In our problem, $c_{ij} = \text{constant}$, meaning the delivery cost for unit distance.

Next, after we select the facility locations, we need to devise clever delivery routes, where the vehicle routing problem comes into play.

## Facility Location Problem (FLP) -- GAMS Implementation

In [20]:
%load_ext gams_magic

In [21]:
%%gams
option optcr = 0.0;
set dept "major locations in campus" /Human, Pharmacy, Veterinary, Business, Biomedical, Cartography, Chemistry, Civil, Computer, Curriculum, Economics, Psychology, English, Environment, History, Material, Mathematics, Music, Nursing, Physics, Statistics, Animal/;
set lib  "libraries" /Art, College, Ebing, Learning, Memorial, MERIT, Robinson, Social, Steenbock/;
set loc  "dimension"  /x,y/;

scalar unitcost;
unitcost = 0.002;

parameter
    cost_lib(lib)  "opening cost of each lib"
    capacity(lib)
    dist(lib, dept)
;
option seed = 101;

parameter demand(dept)
/
Human 93
Pharmacy 88
Veterinary 51
Business 220
Biomedical 105
Cartography 118
Chemistry 360
Civil 127
Computer 383
Curriculum 277
Economics 262
Psychology 152
English 124
Environment 108
History 118
Material 110
Mathematics 166
Music 108
Nursing 100
Physics 190
Statistics 196
Animal 146
/;

table deptloc(dept,loc) "coordinates of department buildings"
$ondelim
$include school_loc.csv
$offdelim
;

table libloc(lib,loc) "coordinates of libraries"
$ondelim
$include lib_loc.csv
$offdelim
;

cost_lib(lib) = 100;
capacity(lib) = 1000;
   
dist(lib, dept) = sum(loc, abs(libloc(lib,loc) - deptloc(dept,loc)));

binary variables
    cover(lib,dept)
    open(lib);

Variable
   cost
   obj;

Equation
   total_cost
   objective
   coverConstraint
   demandConstraint
   rela
;

objective..
    obj =E= unitcost * sum((lib, dept), dist(lib, dept)* cover(lib, dept)) + cost;

demandConstraint(lib)..
    sum(dept, demand(dept) * cover(lib, dept)) =l= capacity(lib);

coverConstraint(dept)..
    sum(lib, cover(lib, dept)) =e= 1;

total_cost..
    cost =e= sum(lib, cost_lib(lib) * open(lib));
    
rela(lib)..
*    open(lib) =e= 0 + 1$(sum( dept, cover(lib, dept) ) > 0);
    sum(dept, cover(lib, dept) ) =l= card(dept)*open(lib);

Model facility /all/;
solve facility using mip minimizing obj;

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),417.465,42,209,MIP,CPLEX,0.535

In [22]:
libs_name = libs['name']
schools_name = schools['name']
nodes = list(schools_name)
nodes.extend(libs_name)

In [23]:
%gams_pull -d cover

In [24]:
cover.head()

   lib        dept  level  marginal  lower  upper  scale
0  Art       Human    0.0   1.92944    0.0    1.0    1.0
1  Art    Pharmacy    0.0   5.70722    0.0    1.0    1.0
2  Art  Veterinary    0.0   3.67106    0.0    1.0    1.0
3  Art    Business    0.0   0.61506    0.0    1.0    1.0
4  Art  Biomedical    0.0   2.54098    0.0    1.0    1.0

The following shows the libraries selected and corresponding assignments.

In [25]:
cover[cover['level']==1].pivot_table(index='lib', columns='dept', values='level', fill_value='')

dept,Animal,Biomedical,Business,Cartography,Chemistry,Civil,Computer,Curriculum,Economics,English,...,Human,Material,Mathematics,Music,Nursing,Pharmacy,Physics,Psychology,Statistics,Veterinary
lib,,,,,,,,,,,,,,,,,,,,,
MERIT,,,,,1,,,1,,,...,,,,,,,1,1,,
Robinson,,,1,1,,,,,1,1,...,,,,1,,,,,,
Social,,,,,,1,1,,,,...,1,,1,,,,,,1,
Steenbock,1,1,,,,,,,,,...,,1,,,1,1,,,,1

Save the data for later use.

In [26]:
import numpy as np

pv_table = cover.pivot_table(index='lib', columns='dept', values='level')
lib_eye = pd.DataFrame(2*np.eye(len(libs_name)), index=pv_table.index, columns=libs_name)
node_type = pd.concat([lib_eye, pv_table], axis=1)
node_type.head()

,Art,College,Ebing,Learning,Memorial,MERIT,Robinson,Social,Steenbock,Animal,...,Human,Material,Mathematics,Music,Nursing,Pharmacy,Physics,Psychology,Statistics,Veterinary
lib,,,,,,,,,,,,,,,,,,,,,
Art,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
College,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Ebing,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Learning,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
MERIT,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [27]:
node_type.to_csv('node_type.csv')
loc = pd.concat([libs_loc, schools_loc])
loc.to_csv('node_loc.csv', float_format='%.2f')

### Vehicle Routing Problem

The [Vehicle routing problem](https://en.wikipedia.org/wiki/Vehicle_routing_problem) deals with the service of a delivery with several customers. It is expected to generate a set of routes, so that all customers' requirements and operational constraints are satisfied, and the global transportation cost is minimized.

Here, we extend the two index vehicle flow formulations for the VRP to account for multiple modes.

$$
\min \sum_{i \in V} \sum_{j \in V} c_t x_{i j t}
$$
$$
\begin{aligned}
\sum_{j \in V: j \ne i, t \in T} x_{i j t}&=1 \quad \forall i \in V \backslash\{0\} \\
\sum_{i \in V: j \ne i, t \in T} x_{i j t}&=1 \quad \forall j \in V \backslash\{0\} \\
\sum_{i \in V} x_{i 0 t} &\leq k(t) \quad \forall t \in T \\
\sum_{j \in V} x_{0 j t} &\leq k(t) \quad \forall t \in T
\end{aligned}
$$

 $x_{i j t}$ denotes whether there is a route from i to j by transport t. $k(t)$ is the the number of available vehicles pf mode $t$. $c_{t}$ is the unit cost using mode $t$. Set V contains all locations in a group, of which $0$ denotes the facility. Set T contains the two modes of transportation.

We also modify the MTZ constraints to eliminate subtours.

$$
\begin{aligned}
u_{j t} &\geq u_{i t}+d_{j}*x_{i j t}-C_{t}\left(1-x_{i j t}\right) \quad \forall i, j \in V \backslash\{0\}, i \neq j, \forall t \in T\\
d_{i}&\leq u_{i t} \le (M - C_t)\sum_{j \in V} x_{i j t} + C_{t} \quad \forall i \in V \backslash\{0\}, \forall t \in T
\end{aligned}
$$

where $C_{t}$ is the capacity of transportation mode $t$.

Notice that here we use the big-M method to ensure that only one upper bound is active for each $i$.

There is still one issue. We haven't enforce that the mode used must be the same in a single route. We can resolve this issue by the following. The reasoning is that if adjacent edges use the same mode, then all edges in the cycle all use the same mode.

$$
\sum_{j \in V} x_{i j t}=\sum_{l \in V} x_{l i t} \quad \forall i \in V \backslash\{0\}
$$

Putting all together, we have our multi-mode VRP formulation.

## Vehicle Routing Problem (VRP) -- GAMS Implementation

Note that in this model, we modify the objective a bit to account for the cost of renting a bicycle or a car.

In [29]:
%gams_reset

In [30]:
%%gams
option optcr=0;
set
group /Art, College, Ebing, Learning, Memorial, MERIT, Robinson, Social, Steenbock/
node /Art,College,Ebing,Learning,Memorial,MERIT,Robinson,Social,Steenbock,Animal,Biomedical,Business,Cartography,Chemistry,Civil,Computer,Curriculum,Economics,English,Environment,History,Human,Material,Mathematics,Music,Nursing,Pharmacy,Physics,Psychology,Statistics,Veterinary/
trans /"bike", "car"/
loc /x,y/
;
alias(node, i, j, l);
alias(trans, t)

parameter
unit_costt(t) /bike 0, car 0.002/
avai(t) /bike 10, car 5/
cap(t) /bike 300, car 1000/
dist(node, node)
upfront_costt(t) /bike 2, car 4/
;

scalar M;
M = smax(t, cap(t));

parameter demand(node)
/
Human 93
Pharmacy 88
Veterinary 51
Business 220
Biomedical 105
Cartography 118
Chemistry 360
Civil 127
Computer 383
Curriculum 277
Economics 262
Psychology 152
English 124
Environment 108
History 118
Material 110
Mathematics 166
Music 108
Nursing 100
Physics 190
Statistics 196
Animal 146
/;

table node_loc(node, loc)
$ondelim
$include node_loc.csv
$offdelim
;

table node_type(group, node)
$ondelim
$include node_type.csv
$offdelim
;

dist(i, j) = sum(loc, abs(node_loc(i,loc) - node_loc(j,loc)));

scalar
g;
* set V only contains one library and its department buildings
* V(group, node) V has several groups, and each group has one lib and some dep buildings;
positive variables
u(i, t);

binary variables
route(node, node,t)
* out(i,t), in(j,t);
;

variables
trans_cost
vrp_obj;

equations
vrp1
vrp2
vrp3
vrp4
same_trans
mtz
total
use_trans
u_up
;

total(group)$(ord(group) = g)..
    vrp_obj =e= sum((i, j, t)$(node_type(group, i) ne 0 and
                   node_type(group, j) ne 0), unit_costt(t) * dist(i, j) * route(i, j, t))
    + trans_cost;
    
use_trans(i,group)$(node_type(group, i) = 2 and ord(group) = g)..
    trans_cost =e= sum((t, j)$(node_type(group, j) = 1), route(i, j, t) * upfront_costt(t));
    
vrp1(j, group)$(node_type(group, j) = 1 and ord(group) = g)..
    sum((i,t)$(node_type(group, i) ne 0 and not sameas(i,j)),route(i, j, t)) =e= 1;
     
vrp2(i, group)$(node_type(group, i) = 1 and ord(group) = g)..
    sum((j,t)$(node_type(group, j) ne 0 and not sameas(i,j)),route(i, j, t)) =e= 1;

vrp3(j, t, group)$(node_type(group, j) = 2 and ord(group) = g)..
    sum(i$(node_type(group, i) = 1), route(i, j, t)) =l= avai(t);

vrp4(i, t, group)$(node_type(group, i) = 2 and ord(group) = g)..
    sum(j$(node_type(group, j) = 1), route(i, j, t)) =l= avai(t);

mtz(i, j, t, group)$(node_type(group, i) = 1 and node_type(group, j) = 1 and not sameas(i,j) and ord(group) = g)..
u(j, t) =g= u(i, t) + demand(j) * route(i, j,t) - cap(t) * (1 - route(i, j, t));

same_trans(i, t, group)$(node_type(group, i) = 1 and ord(group) = g)..
sum(j$(node_type(group, j) ne 0 ), route(i, j, t)) =e= sum(l$(node_type(group, l) ne 0),route(l,i,t));

u_up(i, t, group)$(node_type(group, i) = 1 and ord(group) = g)..
u(i,t) =l= (1 - sum(j$(node_type(group, j) ne 0), route(i, j, t))) * (M-cap(t)) + cap(t);

u.lo(i, t) = demand(i);

Model vrp /all/;
* g = 9;
* solve vrp using mip minimizing vrp_obj;
scalar total_cost;
total_cost = 0;

for(g = 1 to card(group),
u.l(i, t) = 0;
route.l(node, node,t) = 0;
trans_cost.l = 0;
vrp_obj.l = 0;
solve vrp using mip minimizing vrp_obj;
total_cost = total_cost + vrp_obj.l;
);

,Solver Status,Model Status,Objective,#equ,#var,Model Type,Solver,Solver Time
0,Normal (1),Optimal Global (1),0.0000,2,2,MIP,CPLEX,0.011
1,Normal (1),Optimal Global (1),0.0000,2,2,MIP,CPLEX,0.008
2,Normal (1),Optimal Global (1),0.0000,2,2,MIP,CPLEX,0.007
3,Normal (1),Optimal Global (1),0.0000,2,2,MIP,CPLEX,0.009
4,Normal (1),Optimal Global (1),0.0000,2,2,MIP,CPLEX,0.008
5,Normal (1),Optimal Global (1),8.5102,54,54,MIP,CPLEX,0.018
6,Normal (1),Optimal Global (1),7.5309,102,104,MIP,CPLEX,0.134
7,Normal (1),Optimal Global (1),7.9745,76,77,MIP,CPLEX,0.076
8,Normal (1),Optimal Global (1),6.0000,132,135,MIP,CPLEX,1.554

### Total cost

In [31]:
%gams_pull -d total_cost route
total_cost

      value
0  30.01568

## Compute and display routes

In [32]:
route = route[route['level'] == 1.0][route.columns[1:3]]
route.columns=['from', 'to', 'mode']
route.head(10)

           from           to  mode
3      Memorial   Curriculum   car
11     Robinson  Cartography   car
25       Social        Human   car
36    Steenbock     Material  bike
40    Steenbock     Pharmacy  bike
42    Steenbock   Veterinary  bike
44       Animal    Steenbock  bike
59   Biomedical    Steenbock  bike
86     Business        Music   car
97  Cartography      History   car

In [45]:
libs_name

0          Art
1      College
2        Ebing
3     Learning
4     Memorial
5        MERIT
6     Robinson
7       Social
8    Steenbock
Name: name, dtype: object

In [46]:
libs_set = set(libs_name)
cycles = {}
route_dict = {}

In [47]:
for i, row in route.iterrows():
    i, j, mode = row['from'], row['to'], row['mode']
    if i in libs_set:
        if i in cycles:
            cycles[i].append((j, mode))
        else:
            cycles[i] = [(j, mode)]   
    else:
        route_dict[i] = j

In [43]:
route_dict = {}

In [48]:
cycles

{'Memorial': [('Curriculum', 'car')],
 'Robinson': [('Cartography', 'car')],
 'Social': [('Human', 'car')],
 'Steenbock': [('Material', 'bike'),
  ('Pharmacy', 'bike'),
  ('Veterinary', 'bike')]}

In [49]:
for k, starts in cycles.items():
    for start in starts:
        u, mode = start
        print("{}: {} => {}".format(mode, k, u), end='')
        while u != k:
            u = route_dict[u]
            print(" => {}".format(u), end='')
        print()

car: Memorial => Curriculum => Chemistry => Psychology => Physics => Memorial
car: Robinson => Cartography => History => Business => Music => Economics => English => Robinson
car: Social => Human => Mathematics => Statistics => Computer => Civil => Social
bike: Steenbock => Material => Biomedical => Steenbock
bike: Steenbock => Pharmacy => Environment => Nursing => Steenbock
bike: Steenbock => Veterinary => Animal => Steenbock

## Conclusion

We formulate the Efficient Newspaper Distribution using the two-stage optimization model, combining the FLP and the VRP. In the VRP formulation, we extend the classical two index vehicle flow formulations to accomodate multiple modes without refering to any other text.

Finally, we implement the model using GAMS and do some processing to obtain efficient routes.

The model can be very flexible and there are many other possibilities to consider. To list a few:

First, our demand data is overly simplified since students often go to classes in various locations. We could possibly use a more realistic model and take the randomness into account.

Second, we haven't considered the time sensitiveness, which can be important in many scenarios.

Third, for the vehicle routing problem, the set partitioning formulation is generally viewed as more efficient. This is out of scope of the course but worth investigating.