<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [4]:
# Change the path to the dataset file if needed. 
PATH = '../data/athlete_events.csv'

In [6]:
df = pd.read_csv(PATH)
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [13]:
len(df)

271116

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [25]:
# You code here 
male = df[df.Sex == 'M']
female = df[df.Sex == 'F']
print(male[male.Year == 1996].Age.min(),
      female[female.Year == 1996].Age.min())

14.0 12.0

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [34]:
# You code here 
male2000 = male[male.Year == 2000]
len(male2000)

8390

In [39]:
# You code here 
male2000 = male[male.Year == 2000]
# len(male2000)

n_male2000 = len(male2000.drop_duplicates('Name'))
n_male2000_gym = len(male2000[male2000.Sport == 'Gymnastics'].drop_duplicates('Name'))
print('{:.1%}'.format(n_male2000_gym / n_male2000))

1.5%

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [59]:
# You code here 
female2000_bask = female[(female.Year == 2000) & (female.Sport == 'Basketball')]
female2000_bask.head()
# print(len(female2000_bask), len(female2000_bask.drop_duplicates('Name')))
female2000_bask.Height.describe()

count    142.000000
mean     182.387324
std        9.139462
min      162.000000
25%      175.000000
50%      182.000000
75%      190.000000
max      213.000000
Name: Height, dtype: float64

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [56]:
df.iloc?

In [57]:
# You code here 
df2002 = df[df.Year == 2002]
df.loc[df2002.Weight.idxmax()].Sport

'Bobsleigh'

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [63]:
# You code here 
df_PA = df[df.Name == 'Pawe Abratkiewicz']
# df_PA
df_PA.Year.unique()

array([1992, 1998, 2002])

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [70]:
df.Medal.value_counts()

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [93]:
# You code here 
# Warning: Group medals!
df[(df.Team == 'Australia') & (df.Year == 2000)
   & (df.Sport == 'Tennis') & (df.Medal.notna())]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
262820,131504,Todd Andrew Woodbridge,M,29.0,178.0,75.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver
262831,131511,Mark Raymond Woodforde,M,34.0,183.0,80.0,Australia,AUS,2000 Summer,2000,Summer,Sydney,Tennis,Tennis Men's Doubles,Silver

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [81]:
# You code here 
df2016 = df[df.Year == 2016]
switz2016 = df2016[df2016.Team == 'Switzerland']
serbia2016 = df2016[df2016.Team == 'Serbia']
print(switz2016.Medal.count(), serbia2016.Medal.count())
# print(switz2016.Medal.value_counts, serbia2016.Medal.value_counts())

11 54

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [103]:
# You code here 
bins = [1, 15, 25, 35, 45, 55]
df2014 = df[df.Year == 2014]
pd.cut(df2014.Age, bins, right=False).value_counts()

[25, 35)    2594
[15, 25)    2027
[35, 45)     265
[45, 55)       4
[1, 15)        0
Name: Age, dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [112]:
# You code here 
print(len(df[(df.City == 'Lake Placid') & (df.Season == 'Summer')]),
      len(df[(df.City == 'Sankt Moritz') & (df.Season == 'Winter')]))
# df[(df.City == 'Sankt Moritz')]

0 1657

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [136]:
# You code here 
df[df.Year == 1995].Sport
sports = df[df.Year == 2016].Sport.unique()
sorted(sports)

['Archery',
 'Athletics',
 'Badminton',
 'Basketball',
 'Beach Volleyball',
 'Boxing',
 'Canoeing',
 'Cycling',
 'Diving',
 'Equestrianism',
 'Fencing',
 'Football',
 'Golf',
 'Gymnastics',
 'Handball',
 'Hockey',
 'Judo',
 'Modern Pentathlon',
 'Rhythmic Gymnastics',
 'Rowing',
 'Rugby Sevens',
 'Sailing',
 'Shooting',
 'Swimming',
 'Synchronized Swimming',
 'Table Tennis',
 'Taekwondo',
 'Tennis',
 'Trampolining',
 'Triathlon',
 'Volleyball',
 'Water Polo',
 'Weightlifting',
 'Wrestling']

In [121]:
len(sports)

34